nav {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 30px;
  width: 95vw;
  height: 50px;
  background-color: darkgray;
  font-size: 25px;
  text-decoration: none;
  align-items: center;
}
.active {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
}